<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todoapp">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoApp">
        <activity android:name=".auth.RegisterActivity"></activity>
        <activity
            android:name=".auth.ui.login.LoginActivity"
            android:label="Login" />
        <activity android:name=".NewToDoActivity"
                  android:label="Create To Do"/>
        <activity
            android:name=".ToDoDetailActivity"
            android:label="Your Task Details"
            android:theme="@style/Theme.ToDoApp.NoActionBar" />
        <activity
            android:name=".ToDoActivity"
            android:label="Do Stuff Today"
            android:theme="@style/Theme.ToDoApp.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>